name: Build Go
on:
  push:
    branches: [ 'main', 'master', 'feature/*' ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
    # paths-ignore is ignored for tags
    tags: [ 'v*' ]

permissions:
  contents: write
  packages: write
  # id-token is required for attestation (signing)
  id-token: write
  attestations: write
  artifact-metadata: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: jimschubert/.workflows/.github/workflows/go-build-goreleaser.yml@main
    secrets: inherit
